<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>Bibliothèque Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <div id="navPane">
    <br><br><br><br><br><br><br><br><br><br><br>
    <a class="button" href="/"> Home Page </a><br><br>
    <a class="button" href="/booksList"> Books </a><br><br>
  </div>

  <div id="mainCont">
    <header>
      <h1>Grand Bibliothèque</h1>
    </header>
    <br>
    <br>
    <p font-size: 30px;> Welcome Readers! We present you with the most awesome collection of books.</p>
    <p> Happy Reading!!</p>
    <br>
    <br>
    <br>
    <br>
    <p>Please head towards the right navigation pane for further access to the resources of the library.</p>
    </footer-->
  </div>

</body>

</html>
